---
export interface Props {
	title?: string;
	href?: string;
	imgSrc: string;
	imgAlt?: string;
	category: string;
	type: 'link-with-image' | 'product';
	price?: string;
}

const { href, title, category, imgSrc, imgAlt, type, price } = Astro.props;
---

{
	type === 'product' && (
		<div class="card" data-type="product">
			<img class="card__image" src={imgSrc} alt={imgAlt} />
			<div class="card__content">
				<div>
					<span class="text-accent fs-16">{category}</span>
					<h2 class="card__title">{title}</h2>
				</div>

				<div>
					<span class="price fw-bold">{price}</span>
				</div>

				<button class="button">
					<span class="visually-hidden">add to cart</span>
					<img src="/assets/plus-icon.svg" alt="" />
				</button>
			</div>
		</div>
	)
}

{
	type === 'link-with-image' && (
		<a class="[ card ] [ text-center ]" data-type="link-with-image" href={href || '#'}>
			<img class="card__image" src={imgSrc} alt="" />
			<div class="card__content">
				<span>{category}</span>
			</div>
		</a>
	)
}

<style lang="scss">
	@use '../styles/abstracts' as *;

	.card {
		border-radius: 2rem;
		overflow: hidden;
		background-color: var(--clr-neutral-100);
		@extend %shadow;
		$parent: &;

		&__title {
			font-size: $fs-600;
			font-weight: 900;
			text-transform: uppercase;
		}

		&[data-type='product'] {
			#{$parent}__content {
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				padding: $size-32 $size-16 $size-16;
				position: relative;

				.button {
					@include interactive-scale(var(--clr-red-500), var(--clr-neutral-100), -50%);
					position: absolute;
					right: $size-16;
					top: 0;
				}
			}

			#{$parent}__image {
				width: 100%;
			}
		}

		&[data-type='link-with-image'] {
			color: var(--clr-red-500);
			font-size: $size-16;
			text-decoration: none;

			@include interactive-scale(var(--clr-blue-800), var(--clr-neutral-100));

			#{$parent}__content {
				padding: $size-16;
			}

			#{$parent}__image {
				height: 8.75rem;
				width: 100%;
				object-fit: cover;
				object-position: top center;
			}
		}
	}
</style>
